@font-face {
	font-family: pracownia;
	src: url(images/pracownia.ttf);
}
* {margin-top:0}
body {margin:0;padding:0;background:#5C0E42 url(images/back3.jpg) no-repeat center top;font-family:Arial,Helvetica,sans-serif;font-size:13px;color:#000}
h1, h2, h3 {font-weight:normal;color:#000}
h1 { font-size:200%; }
h2 { font-size:167%; }
h3 { font-size:100%; font-weight:bold; }
p, ul, ol {font-size:100%}
p {}
ul {}
ol {}
blockquote {}
table, td, th{border:0px solid #000;padding: 1px 1px 1px 1px;border-style: outset;border-spacing: 0px;border-collapse:collapse, color:#000}

a {color:#7EBCFF}
a:hover {text-decoration:none}
/* Header */
#header {width:935px;height:305px;margin:0 auto; color:#000}
#header h1, #header p {margin:0;font-weight:normal; font-family: pracownia; color:#000}
#header h1 {padding:30px 0 0 20px;font-size:629%; color:#000}
#header h2 {padding:30px 0 0 20px;font-size:429%; color:#000; font-family: pracownia;}
#header p {margin:-5px 0 0 0;padding:0 0 0 20px;text-transform:uppercase;font-size:85%; color:#000}
#header a {text-decoration:none;color:#000}
/* Menu */
#menu {width:935px;height:71px;margin:0 auto;border-bottom:1px solid #000; border-top:1px solid #000; background:#EA87EA ; text-align:center;font-family: pracownia; float: center}
#menu h2 {display:none}
#menu ul {margin:0;padding:20px 0 0 0px;list-style:none; float: center}
#menu li {display:inline;float:center;}
#menu a {display:inline;height:36px;padding:8px 20px 0 20px;border-right:1px solid #2A2C2F;text-transform:lowercase;text-decoration:none;text-align:center;font-size:36px; color:#000}
#menu a:hover, #menu .active a {background:#cccccc}
/* Page */
#page {width:935px;margin:0 auto; text-align:justify; background:#EA87EA  repeat-y}
/* Content */
#content {float:left;width:895px;padding:20px 20px 0 20px; text-align:justify;background:#EA87EA  no-repeat;font-size:15px}
.boxed {background:#121B23;border:1px dotted #000}
.boxed .title {margin:0;padding:5px 20px;background:#000;text-transform:uppercase;font-size:100%;font-weight:bold}
.boxed .content {padding:20px}
/* Sidebar */
#sidebar {float:right;width:350px;padding:20px 20px 0 0;border:0px solid #000;font-size:15px}
#sidebar ul {margin:0;padding:0;list-style:none}
#sidebar li {}
#sidebar li ul {padding:20px}
#sidebar li li {margin:0;padding:5px 0; font-family: pracownia; font-size:28px;}
#sidebar h2 {margin:0;padding:10px;background:#000;border-top:1px solid #23282E;border-bottom:1px solid #23282E;text-transform:lowercase;font-size:28px;color:#000; font-family: pracownia}
#sidebar h3 {margin:0}
#sidebar p {margin:0}
#sidebar a {text-decoration:none}
#sidebar a:hover {text-decoration:underline}
/* Search */
#search {}
#search fieldset {margin:0;padding:0;border:none}
#search legend {display:none}
#search input {float:right;margin-bottom:5px;background:#5A83AE;border:1px solid #000;text-transform:lowercase;font:bold 100% Arial,Helvetica,sans-serif;color:#000}
#searchform {margin:0;padding:10px 20px 20px 20px}
#searchfield {width:165px;padding:2px 5px}
#searchsubmit {}
/* Submenu */
#submenu a {padding-left:15px}
/* Footer */
#footer {width:935px;height:100px;margin:0 auto;padding:30px 0 0 0) no-repeat}
#footer p {margin:0;padding:0 0 0 40px;font-size:77%;color:#0F1720}
#footer a {color:#0F1720}
.fleft {float:left}
.fright {float:right}
.fcenter {float:none;text-align:center}

#col1 {width:410px;margin:0 auto; text-align:justifybackground:#F7EBF3 ; float: left}
h3 {  }
#col2 {width:610px;margin:0px 00px 50px 150px; text-align:justify;   float: left}

#leftbox {width:260px;margin:0 auto; text-align:justify; background:#EA87EA ; float: left}
#leftbox a {display:inline;height:66px;padding:18px 20px 18px 0;text-decoration:none;text-align:left;font-size:16px;color:#000;font-weight:bold}
#leftbox table, td, th{border:0 solid #000;padding: 18px 20px 18px 0;border-style: outset;border-spacing: 0px;border-collapse:collapse;font-weight:bold;color:#000}
#leftbox tr:hover, #menu .active a {background:#cccccc}

#rightbox {width:590px;margin:0 auto; text-align:justify; background:#EA87EA ; float: right}

#rightbox  h4 { line-height: 200%}